<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crypto Monitor</title>
  <script>
    let socket;

    function login() {
      window.location.href = "/login";
    }

    function connectWS() {
      socket = new WebSocket("ws://localhost:8444/ws/price");

      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        document.getElementById("price").innerText = "💲 " + data.p;
      };
    }

    function selectCoin() {
      const symbol = document.getElementById("coin").value;
      socket.send(JSON.stringify({symbol}));
    }

    window.onload = function () {
      connectWS();
    };
  </script>
</head>
<body>
<h1>🌍 Crypto Dashboard</h1>

<div>
  <button onclick="login()">🔐 Login via Casdoor</button>
</div>

<div>
  <label>Монета:
    <select id="coin" onchange="selectCoin()">
      <option value="btcusdt">BTC/USDT</option>
      <option value="ethusdt">ETH/USDT</option>
      <option value="bnbusdt">BNB/USDT</option>
    </select>
  </label>
</div>

<div>
  <p id="price">📉 Чекаємо дані...</p>
</div>
</body>
</html>
